extends ../layout 

block content
    div(style='text-align: center;')
        each event in events   
            div(class='event-card')
                div(class="event-image" style="background-image: url(#{event.Banner_URL__c})")
                    if event.Registration_Deadline__c
                        p(class="registration-deadline" style="color: white;") ** Registration Closes #{event.Registration_Deadline__c}
                div
                    h2= event.Name
                    h3 #{event.End_Date__c} | #{event.Display_Location__c}
                    p Conferences and summits keep your continuous improvement efforts fresh and invigorated. Conferences are larger and apply to any industry. Summits are smaller and focus on specific industries.
                    a(href="#{event.Registration_Link__c}" target="_blank")
                        p Learn More