extends ../layout 

block content
    div(style='text-align: center;')
        h1 Conferences & Summits
        each event in events
            case event.Event_Type__c
                when 'Conference'
                    div(class='event-card')
                        div(class="event-image" style="background-image: url(#{event.Banner_URL__c}); margin: auto 0;")
                        div
                            h2= event.Name
                            h3 #{event.Start_Date__c}-#{event.End_Date__c} | #{event.Display_Location__c}
                            a(href="#{event.Registration_Link__c}" target="_blank")
                                p Learn More
                when 'Summit'
                    div(class='event-card')
                        div(class="event-image" style="background-image: url(#{event.Banner_URL__c})")
                        div
                            h2= event.Name
                            h3 #{event.Start_Date__c}-#{event.End_Date__c} | #{event.Display_Location__c}
                            a(href="#{event.Registration_Link__c}" target="_blank")
                                p Learn More
        h1 Study Tours
        each event in events
            case event.Event_Type__c
                when 'Study Tour'
                    div(class='event-card')
                        div(class="event-image" style="background-image: url(#{event.Banner_URL__c}); margin: auto 0;")
                        div
                            h2= event.Name
                            h3 #{event.Start_Date__c}-#{event.End_Date__c} | #{event.Display_Location__c}
                            a(href="#{event.Registration_Link__c}" target="_blank")
                                p Learn More
        h1 Showcases
        each event in events
            case event.Event_Type__c
                when 'Showcase'
                    div(class='event-card')
                        div(class="event-image" style="background-image: url(#{event.Banner_URL__c}); margin: auto 0;")
                        div
                            h2= event.Name
                            h3 #{event.Start_Date__c} | #{event.Display_Location__c} 
                            a(href="#{event.Registration_Link__c}" target="_blank")
                                p Learn More
                