extends ../layout 

block content
    div(style='text-align: center;')
        each event in events   
            div(class='event-card')
                div(class="event-image" style="background-image: url(#{event.Banner_URL__c})")
                    if event.Registration_Deadline__c
                        p(class="registration-deadline" style="color: white;") ** Registration Closes #{event.Registration_Deadline__c}
                div
                    h2= event.Name
                    h3 #{event.End_Date__c} | #{event.Display_Location__c}
                    p Shingo Showcases give you access to the inner workings of a Shingo award recipient company that exemplifies excellence. They are one-day events that include an exclusive company tour and a workshop that will teach (or refresh) the basics of the Shingo Model™, why it’s important, and how it can help you make organizational excellence sustainable.
                    a(href="#{event.Registration_Link__c}" target="_blank")
                        p Learn More