extends ../layout 

block content
    button(class="accordion") The Shingo Prize
    div(class="panel" style="display:block;")
        h2 Shingo Prize Recipients
        table(align="center")
            tr(class="row-headers")
                th Date
                th Name - Click for Profile Sheet
                th Press Release
                th Location
            each award in awards
                case award.SV_Status__c
                    when 'The Shingo Prize'
                        tr
                            th= award.Date_Awarded__c
                            th
                                a(href="#{award.Company_Profile_Link__c}" target="_blank") #{award.Name}
                            th(style='text-align:center;')  
                                a(href="#{award.Press_Release_Link__c}" target="_blank")
                                    img(src="https://img.icons8.com/ios/25/000000/download.png")       
                            th(class="prize-recipient-location")
                                if award.City__c
                                    p= award.City__c 
                                if award.State__c
                                    p , #{award.State__c}
                                if award.Country__c
                                    p , #{award.Country__c}                         
    button(class="accordion") Silver Medallion
    div(class="panel")
        h2 Silver Medallion Recipients
        table(align="center")
            tr
                th Date
                th Name - Click for Profile Sheet
                th Press Release
                th Location
            each award in awards
                case award.SV_Status__c
                    when 'Silver Medallion'
                        tr
                            th= award.Date_Awarded__c
                            th
                                a(href="#{award.Company_Profile_Link__c}" target="_blank") #{award.Name}
                            th(style='text-align:center;')  
                                a(href="#{award.Press_Release_Link__c}" target="_blank") 
                                    img(src="https://img.icons8.com/ios/25/000000/download.png") 
                            th(class="prize-recipient-location")
                                if award.City__c
                                    p= award.City__c 
                                if award.State__c
                                    p , #{award.State__c}
                                if award.Country__c
                                    p , #{award.Country__c} 
    button(class="accordion") Bronze Medallion
    div(class="panel")
        h2 Bronze Medallion Recipients
        table(align="center")
            tr
                th Date
                th Name - Click for Profile Sheet
                th Press Release
                th Location
            each award in awards
                case award.SV_Status__c
                    when 'Bronze Medallion'
                        tr
                            th= award.Date_Awarded__c
                            th
                                a(href="#{award.Company_Profile_Link__c}" target="_blank") #{award.Name}
                            th(style='text-align:center;') 
                                a(href="#{award.Press_Release_Link__c}" target="_blank") 
                                    img(src="https://img.icons8.com/ios/25/000000/download.png") 
                            th(class="prize-recipient-location")
                                if award.City__c
                                    p= award.City__c 
                                if award.State__c
                                    p , #{award.State__c}
                                if award.Country__c
                                    p , #{award.Country__c} 

    //- Script for Collapsibles/Accordion    
    script. 
        acc = document.getElementsByClassName("accordion");

        for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
        });
        }