//- This page is a layout for each of the workshop pages
//- When a workshop page is rendered, the database is queried for
//- that specific workshop, and that data is rendered in this template
extends ../layout
    
block content
    div(style="text-align: center;")
        ul(class='workshop-list')
        each workshop in workshops
            a(href='#{workshop.Registration_Website__c}' target="_blank")
                li(class='workshop-card' name="#{workshop.Workshop_Type__c}")
                    case workshop.RecordType.Name
                        when "Virtual Workshop"
                            div(class="virtual-workshop-banner") Virtual Workshop
                            h2= workshop.Workshop_Type__c
                            div(class="workshop-info")
                                p #{workshop.Start_Date__c}-#{workshop.End_Date__c}
                                h4(class="host-site-title") Time Zone:
                                p #{workshop.Timezone__c} 
                                h4 Affiliate: 
                                p #{workshop.Affiliate__c}
                            p(class="register-button-text") Register
                        default 
                            div(style="height: 24px")
                            h2= workshop.Workshop_Type__c
                            div(class="workshop-info")
                                p #{workshop.Start_Date__c}-#{workshop.End_Date__c}
                                case workshop.RecordType.Name
                                    when "Virtual_Workshop"
                                        p=workshop.Timezone__c
                                p(style="display: inline;") #{workshop.Event_City__c}, 
                                p(style="display: inline;") #{workshop.Event_Country__c}
                                h4(class="host-site-title") Host Site:
                                p #{workshop.Host_Site__c} 
                                h4 Affiliate: 
                                p #{workshop.Affiliate__c}
                            p(class="register-button-text") Register



