extends ../layout 

block content
    ul(class="profile-pic-list")
        each member in employees
            li
                img(src="#{member.Photograph__c}" class="profile-pic")
                div
                    h2= member.Name
                    h3= member.Title
                    a(href="tel:#{member.Phone}")
                        p= member.Phone
                if member.Email
                    a(href="mailto:#{member.Email}")
                        img(src="/images/letter.png" class="letter-icon")
        